<!DOCTYPE html>
<html lang="en">
<head>
     <link rel="stylesheet" href="static/style.css">
    <meta charset="UTF-8">
    <title>Xpath Reviewer</title>
    <style>
    body {
    background-color: #EC7063 ;
    }
    h2 {text-align: center;}
    .title{color:#273582;}
    .navbar-light .navbar-brand{color: rgba(0,0,0,.9);}
	.navbar-light .navbar-brand {margin-left: auto;margin-right: auto;}
	.container-fluid{width:90%;}

        </style>
<!--</blockquote>-->
</head>
<body>

<nav class="navbar fixed-top navbar-light bg-dark">
  <div class="container-fluid">
    <a class="navbar-brand" href="https://github.com/iamatul1214/DAF_Code_Review" target="_blank">Github Code </a>
  </div>
</nav>
<h2>Auto Xpath Reviewer</h2>

</body>
</html>